<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags blog_tags i18n future staticfiles %}

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>
        {% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

    {% ifinstalled mezzanine.blog %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
        <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    {% endifinstalled %}

    {% compress css %}
        <link rel="stylesheet" href="{% static "css/animate.css" %}">
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
        <link rel="stylesheet" href="{% static "css/jquery.bxslider.css" %}">
        <link rel="stylesheet" href="{% static "css/main.css" %}">
        <link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
        <link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
        <link rel="stylesheet" href="{% static "css/custom-styles.css" %}">
        {% if LANGUAGE_BIDI %}
            <link rel="stylesheet" href="{% static "css/rtl.css" %}">
        {% endif %}
        {% ifinstalled cartridge.shop %}
            <link rel="stylesheet" href="{% static "css/cartridge.css" %}">
            {% if LANGUAGE_BIDI %}
                <link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
            {% endif %}
        {% endifinstalled %}
        <link rel="stylesheet" href="{% static "css/responsiveslides.css" %}">
        {% block extra_css %}{% endblock %}
    {% endcompress %}

    {% compress js %}
        <script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/bootstrap-portfilter.js" %}"></script>
        <script src="{% static "js/jquery.bxslider.min.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>
        <script src="{% static "js/modernizr-2.6.2-respond-1.1.0.min.js" %}"></script>
        <script src="{% static "js/bootstrap-extras.js" %}"></script>
        <script src="{% static "js/responsiveslides.js" %}"></script>
        <script src="{% static "js/responsiveslides-init.js" %}"></script>
        {% block extra_js %}{% endblock %}
    {% endcompress %}
    <!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

    {% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-2 navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">{% trans "Toggle Navigation" %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if settings.SITE_TITLE %}<a class="navbar-brand" href="/">{{ settings.SITE_TITLE }}</a>{% endif %}
                {% if settings.SITE_TAGLINE %}<p class="navbar-text visible-lg">{{ settings.SITE_TAGLINE }}
                    </p>{% endif %}
            </div>
            <div class="col-md-10 navbar-collapse collapse">
                {% page_menu "pages/menus/dropdown.html" %}
            </div>
        </div>
    </div>
</div>

<div class="container">

    {% nevercache %}
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endnevercache %}

    <h1>{% block title %}{% endblock %}</h1>

    <ul class="breadcrumb">
        {% spaceless %}
            {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
        {% endspaceless %}
    </ul>

</div>

<div class="container">
    <div class="row">

        <div class="col-md-9 middle">
            {% block slides %}{% endblock %}
            {% block main %}{% endblock %}
        </div>

        <div class="col-md-3 right">
            {% blog_recent_posts limit=5 category="web-development" as web_development_posts %}
            {% blog_recent_posts limit=5 category="whippys-theories" as whippys_theories_posts %}
            {% block right_panel %}
                {% search_form %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% include "accounts/includes/user_panel.html" %}
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title collapser" data-toggle="collapse" data-target="#recentWeb" data-parent="#accordion">
                                    Recent Web
                            </h4>
                        </div>
                        <div id="recentWeb" class="panel-collapse collapse in">
                            <div class="panel-body">
                                {% for post in web_development_posts %}
                                    <p><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title collapser" data-toggle="collapse" data-target="#recentTheories" data-parent="#accordion">
                                    Recent Theories
                            </h4>
                        </div>
                        <div id="recentTheories" class="panel-collapse collapse">
                            <div class="panel-body">
                                {% for post in whippys_theories_posts %}
                                    <p><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
</div>

<footer>
    <div class="container">
        {% page_menu "pages/menus/footer.html" %}

        <div class="row">
            <div class="col-md-4 site-info text-center">
                <p>&copy; {% now "Y" %} Paul Whipp Consulting</p>
            </div>
            <div class="col-md-4 site-info text-center">
                <p>
                    {% trans "Powered by" %}
                    <a href="http://mezzanine.jupo.org">Mezzanine</a>{% ifinstalled cartridge.shop %},
                    <a href="http://cartridge.jupo.org">Cartridge</a>{% endifinstalled %}
                    {% trans "and" %}
                    <a href="http://www.djangoproject.com">Django</a>
                </p>
            </div>
            <div class="col-md-4 site-info text-center">
                <p>
                    {% trans "Theme by" %} <a target="_blank" href="http://getbootstrap.com">Bootstrap</a>
                    {% ifinstalled mezzanine.mobile %}
                        <span class="separator">|</span>
                        <a href="{% url "set_device" "mobile" %}?next={{ request.path }}">{% trans "View Mobile Site" %}</a>
                    {% endifinstalled %}
                </p>
            </div>
        </div>
    </div>
</footer>

{% include "includes/footer_scripts.html" %}

</body>
</html>
