{% extends "base.html" %}
{% load mezzanine_tags %}
{% block title %}Testimonials{% endblock title %}
{% block main %}
    <a class="btn btn-info" href="{% url 'create_testimonial' %}">Create a Testimonial</a>
    {% for testimonial in testimonials.object_list %}
    <div class="testimonial">
        <h4 class="testimonial_heading">{{ testimonial.title }}</h4>

        <div class="testimonial_content">
            {{ testimonial.content|safe }}
        </div>
        <h5 class="testimonial_author">{{ testimonial.author }}</h5>
    </div>
    {% endfor %}

    {% pagination_for testimonials %}
{% endblock main %}