/* ==========================================================================
   Insert Your Custom Styles Below. All styles located in this file will
   override existing main.css stylesheets.
   ========================================================================== */

.site-info a {
    text-decoration: underline;}

h1, h2, h3, h4 {
    color: #515151;}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 32px;
  line-height: 34px;
  letter-spacing: -2px;
  font-weight: bold;
}

h2 {
  font-size: 29px;
  line-height: 32px;
  letter-spacing: -2px;
  font-weight: 300;
}

a.anchor {
    display: block;
    position: relative;
    top: 100px;
    visibility: hidden;
}

h3 {
  font-size: 26px;
  line-height: 38px;
  letter-spacing: -2px;
  font-weight: bold;
}

h4 {
  font-size: 23px;
  line-height: 35px;
  letter-spacing: -0.7px;
  font-weight: 300;
}

.navbar {
    height: 50px;}

.navbar-brand {
    height: auto;
    margin: auto;}

.navbar-nav {
    height: auto;
    margin: auto;}

.navbar .nav {
    margin: auto;
    background-color: #313131;}

.navbar-nav > li > .dropdown-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0px;
}

.navbar-nav > li > a {
    padding-bottom: 0px;}

.navbar-inverse .navbar-nav > .active > a {
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;}

/* Set up cursor and put the arrow after collapsable panel headings */
.collapser {
    cursor: pointer;}

.collapser:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;}

.collapser.collapsed:after {
    content: "\e080";}
