[Unit]
Description=Job that launches the script controlling the pwc web service
After=network.target

[Service]
Type=simple
Restart=on-failure
Group=paul
User=paul
ExecStart=/home/paul/pwc/deploy/service_demon.sh

[Install]
WantedBy=multi-user.target