{% extends "pages/richtextpage.html" %}

{% block main %}
    {{ block.super }}
{% endblock %}

{% block panel_group_extras %}
    {{ block.super }}
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4 class="panel-title collapser" data-toggle="collapse" data-target="#recentTheories" data-parent="#accordion">
                Testimomials
            </h4>
        </div>
        <div id="recentTheories" class="panel-collapse collapse in">
            <div class="panel-body">
                <ul class="rslides">
                    <li>
                        <div class="testimonial">
                            <h4 class="testimonial_heading">Consummate Professional</h4>

                            <div class="testimonial_content">
                                He is a one-stop shop for bringing applications to market. I would recommend him highly
                                and often.
                            </div>
                            <h5 class="testimonial_author">Fraser Gorrie</h5>
                        </div>
                    </li>
                    <li>
                        <div class="testimonial">
                            <h4 class="testimonial_heading">Great Job</h4>

                            <div class="testimonial_content">
                                <p>Paul has done a great job of helping conceive and develop the code for a sophisticated online bookings, reservation and transport logistics management solution to be delivered as an online (web) service.</p><p>Paul as a contracted software developer was very professional to work with, highly-organised, detail oriented and a strong analytical thinker able to help spin creative solutions to meet the technical and business process challenges thrown up throughout this complex project.</p><p><a href="http://ascenthosting.com/" target="_blank">Ascent Hosting</a></p>
                            </div>
                            <h5 class="testimonial_author">Rob Phelan</h5>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
