{% extends "pages/richtextpage.html" %}
{% load staticfiles mezzanine_tags myblog_tags %}
{% block title %}{% endblock title %}
{% block extra_head %}
    <meta name="google-site-verification" content="z0aPIE5QigYKVpN-xbuj5tHu-qJvhowfeunoR3O_r6w" />
{% endblock %}
{% block breadcrumb %}{% endblock breadcrumb %}
{% block main %}

    <div class="row">
            <object type="image/svg+xml" data="{% static "media/uploads/slides/home_page/tag_cloud.svg" %}">
                <h2>We build cloud applications</h2>
            </object>
    </div>
    {{ block.super }}

    {% find_blog_posts "Why you need a beautiful site" "Why you need to own your code"  "Why You Need Agile Development" as posts %}
    {% for post in posts %}
        {% editable blog_post.title %}
            <h2>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </h2>
        {% endeditable %}
        {% if settings.BLOG_USE_FEATURED_IMAGE and post.featured_image %}
            <a href="{{ post.get_absolute_url }}">
                <img class="img-thumbnail pull-left"
                     src="{{ MEDIA_URL }}{% thumbnail post.featured_image 90 90 %}">
            </a>
        {% endif %}


        {% editable post.content %}
            {{ post.description_from_content|safe }}
        {% endeditable %}
        <p></p><a href="{{ post.get_absolute_url }}">read more</a></p>
    {% endfor %}
    <br>
    <div class="row">
            <img class="img-responsive" src="{% static "media/uploads/slides/home_page/logo_backdrop.png" %}" alt="Applications and frameworks we use"/>
    </div>
{% endblock %}
